# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
# Archivos de Entorno y Secretos
.env
.env.*
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Supabase (Archivos locales temporales)
supabase/.temp
supabase/functions/*/node_modules/

# Agentes de IA y Skills
.gemini/
.ai/

# Caché local
.pnpm-store/
